.subNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--color-container-background-primary);
  border-top: 1px solid var(--color-container-border-primary);
  border-right: 1px solid var(--color-container-border-primary);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: var(--subNav-width);
  flex-shrink: 0;
  z-index: 2;
  transition: border-right var(--duration-fade-moderate) var(--ease-transform);
}

.subnavToggle {
  position: absolute;
  top: calc(var(--header-height) + 16px);
  left: calc(var(--nav-width) - 1px);
  z-index: 200;
  background-color: var(--color-container-background-primary);
  border: 1px solid var(--color-container-border-primary);
  border-radius: 0 6px 6px 0;
  padding: 4px;
  transition:
    left var(--duration-fade-moderate) var(--ease-transform),
    border var(--duration-fade-moderate) var(--ease-transform);
}

.subnavToggle.subNavOpen {
  left: calc(var(--nav-width) + var(--subNav-width) - 40px);
  background-color: transparent;
  border: 0;
}

.subnavToggle.hidden {
  display: none;
}

.subNav.floating {
  border: 0;
  border-radius: 8px;
  z-index: 1000;
}

.subNav .header {
  font-size: var(--font-size-body-4);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  padding: 24px 8px 0px 16px;
}

.subNav hr {
  border: 0;
  border-top: 1px solid var(--color-container-border-tertiary);
  margin: 0;
}

.subNavSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.subNavSectionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--duration-disappear-moderate) var(--ease-disappear);
}

.subNavSectionContentOpen {
  max-height: 1000px;
}

.subNavSectionContainer > div:is(:empty) {
  display: none;
}

.subNavLinks {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 4px;
  width: 100%;
}

.subNavLink {
  background-color: transparent;
  border: none;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-3);
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 20px 10px 8px;
  text-decoration: none;
  transition:
    background-color var(--duration-fade-fast) var(--ease-fade),
    color var(--duration-fade-fast) var(--ease-fade);
}

.subNavLinks li {
  display: flex;
}

.subNavLink:hover {
  background-color: var(--color-action-passive-subtle-hover);
}

.subNavLink:active {
  background-color: var(--color-action-passive-subtle-active);
}

.subNavLink:focus {
  background-color: var(--color-action-passive-subtle-focus);
  outline: 0;
}

.subNavLinkActive {
  background-color: var(--color-action-passive-subtle-active) !important;
}

.subNavLink:disabled {
  color: inherit;
  cursor: not-allowed;
}

.subNavLinkSub {
  margin: 0 12px;
  padding: 8px 8px 8px 32px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subNavLinkSub span {
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
}

.subNavLinkSubFloating {
  margin: 0;
  border-radius: 0;
  min-width: 240px;
}

.subNavLinkText {
  margin-top: 2px;
}

.subNavLinkSub svg {
  opacity: 0;
}

.subNavLinkSub:hover svg,
.subNavLinkSubActive svg {
  opacity: 1;
}

.subNavLinkIcon {
  display: flex;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
}

.subNavLinkIcon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.accordionIcon {
  transition: transform var(--duration-fade-moderate) var(--ease-transform);
}

.accordionIconOpen {
  transform: rotate(180deg);
}

.popover {
  background-color: var(--color-container-background-primary);
  border: 1px solid var(--color-container-border-tertiary);
  border-radius: 6px;
  padding: 8px;
  z-index: 1000;
}
